.vs/
bin/
obj/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspscc
*.vssscc
*.dbmdl
*.dbproj.schemaview
TestResults/
BuildLog.*
*.tlog/
*.lastbuildstate

*.log
*.tmp
*.cache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
